<html>
  <head>
    <!-- Bootstrap meta-tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Personalized CSS -->

    <!-- JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
      url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

    <!-- DataTable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>{{ title }}</title>
  </head>
  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-4 bg-light border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">
        <a href="{{ url_for('index') }}">Home</a>
      </h5>
        <nav class="nav justify-content-end">
          {% if current_user.is_anonymous %}
            <a class="btn btn-outline-primary" href="{{ url_for('login') }}">Login</a>
          {% else %}
          {% if manufacturer == true %}
            <a class="p-2 text-dark underline" href="{{ url_for('user_medicine') }}">Manage Medicine</a>
          {% endif %}
            <a class="p-2 text-dark" href="{{ url_for('user_transactions') }}">Manage Transactions</a>
            <div class="btn-group ml-2">
              <a type="button" class="btn btn-primary" href="{{ url_for('actor', actor_name=current_user.actor_name) }}">Profile</a>
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
              </div>
            </div>
          {% endif %}
          <a href="/request_mine" class="ml-2 pl-2" id="sync_blockchain"><button class="btn btn-info">Synchronise Blockchain</button></a>
        </nav>

    </div>

    {% with transactions = get_flashed_messages() %}
    {% if transactions %}
    <ul>
    {% for transaction in transactions %}
        <li>{{ transaction }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

  </body>
</html>

<style media="screen">
   #sync_blockchain{
     border-left: 1px solid #909090;
     border-spacing: 2em;
   }
</style>
