<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

	 <div class="container-fluid text-right mt-3">
		 <a href="/request_mine" ><button class="btn btn-primary">Request to mine</button></a>
		 <a href="/"><button class="btn btn-primary">Resync</button></a>
	 </div>

	<div class="p-3">
		<table id="table" class="table table-hover table-bordered">
	    <thead  class="thead-light">
	      <tr>
	        <th class="" scope="col">Medicine ID</th>
	        <th class="" scope="col">Medicine Name</th>
	        <th class="" scope="col">Batch ID</th>
	        <th class="" scope="col">Quantity</th>
	        <th class="" scope="col">Sender ID</th>
	        <th class="" scope="col">Status</th>
	        <th class="" scope="col">Date</th>
	      </tr>
	    </thead>
	    <tbody id="myTable">
	      {% for transaction in transactions %}
	        <form class="form-horizontal" method="POST" action="{{ url_for('submit_accept_transaction') }}">
	          <tr>
	            <td>{{ transaction.medicine_id }}</td>
	            <td class="med_name">{{ transaction.medicine_name }}</td>
	            <td name="batch_id">{{ transaction.batch_id }}</td>
	            <td name="batch_quantity">{{ transaction.quantity }}</td>
	            <td name="sender_id">{{ transaction.sender_id }}</td>
	             <td>{{ transaction.status }}</td>
	             <td>{{ readable_time(transaction.timestamp) }}</td>
	          </tr>
	        </form>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>

</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#table').DataTable( {
				"searching": false,
				"info":     false,
				order: [[ 6, 'desc' ]]
		} );
	} );

</script>
{% endblock %}
